<!DOCTYPE html>
<!--flash card game-->
<html>
	<head>
		<meta charset="UTF-8">
		<!--<link rel="stylesheet" href="/style.css">-->
		<title>My Flashcard Game</title>
	</head>
	<body>
	<div id="container">
		<h1>Flash Cards Game</h1>
		<div id="introduction">Introduction</div>
		<h2>Decks</h2>
		<div id="decks">
			<p><a href="/decks/new">Make a new deck</a></p>
			<ul>
				<% @decks.each do |deck| %>
			<li><a href="/decks/<%= deck.id %>"><%= deck.name %></a></li>

			<% end %>
			</ul>
		</div>
	</div>
	</body>
</html>