<h3>New cards</h3>
		<form method="POST" action="/cards">
			<label for="card_question">Card Question</label>
			<input id="card_question" input type="text" name ="card[question]">
	
			<label for="card_answer">Card Answer</label>
			<input id="card_answer" input type="text" name ="card[answer]">
			<input type="submit" value="Submit">	
		</form>
			
