<!DOCTYPE html>
<!--Make a new deck-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/application.css">
		<title>New Deck</title>
	</head>

	<body>
		<h2>New Deck</h2>
		<form method="POST" action="/decks">
			<label for="deck_name">Deck Name</label>
			<input id="deck_name" input type="text" name="deck[name]">
			<input type="submit" value="Submit">	
		</form>

	</body>

	</html>