<!DOCTYPE html>
<!--Play the game-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/application.css">
		<title>Play the game</title>
	</head>
<body>
	<h2><%= @deck.name %></h2>

	<p>Question: <%= @card.question %></p>
</body>