<!DOCTYPE html>
<!--Show Cards Page-->
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/application.css">
		<title>Show Cards</title>
	</head>
	<body>
		<h1><%= @deck.name %></h2>

			<h2><a href="/cards/<%= @deck.id %>/edit">Add a new card</a></h2>
			<h2><a href="/play">Plays</a></h2>
			<p><%= @cards.question</p>

	</body>